<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/78a29314-9f21-4ef4-b2d4-8407b5256fd4/resourcegroups/HimberryServiceResourceGroup/providers/Microsoft.Web/sites/HimberryService</ResourceId>
    <ResourceGroup>HimberryServiceResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://himberryservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>himberryservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HimberryService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HimberryService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="usersDbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:himberrydbserver.database.windows.net,1433;Initial Catalog=UsersDb;User ID=himberryadmin@himberrydbserver;Password=123qweASD" Name="Data Source=tcp:himberrydbserver.database.windows.net,1433;Initial Catalog=UsersDb;User Id=himberryadmin@himberrydbserver;Password=123qweASD" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=local;Initial Catalog=UsersDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\usersDbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source='local';Initial Catalog='UsersDb'; Integrated Security=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="usersDbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:himberrydbserver.database.windows.net,1433;Initial Catalog=UsersDb;User Id=himberryadmin@himberrydbserver;Password=123qweASD</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>